@model User
@{
    Layout = "_IdentityLayout";
}

<h5 class="bg-warning text-white text-center p-2">Edit User</h5>
<form asp-action="EditUser" method="post" style="width:450px" class="m-1">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>ID</label>
        <input asp-for="Id" class="form-control" value="@Model.Id" disabled />
        <input asp-for="Id" type="hidden" value="@Model.Id" />
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" value="@Model.LastName" />
    </div>
    <div class="form-group">
        <label>User Name</label>
        <input asp-for="UserName" class="form-control" value="@Model.UserName" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" value="@Model.Email" />
    </div>
    <div class="form-group">
        <label>Active?</label>
        <select asp-for="Status" class="form-control">
            @if (Model.Status)
            {
                <option selected value="@true">Active</option>
                <option value="@false">Deleted</option>
            }
            else
            {
                <option value="@true">Active</option>
                <option selected value="@false">Deleted</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-warning">Submit</button>
    <a class="btn btn-secondary" asp-action="@nameof(WS.WebApp.Controllers.UserController.UserIndex)">Back</a>
</form>