@model IEnumerable<WSProduct>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-controller="Products" asp-action="Create" class="btn btn-primary">@Localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Id"]
            </th>
            <th>
                @Localizer["Product Name"]
            </th>
            <th>
                @Localizer["Version"]
            </th>
            <th>@Localizer["Options"]</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" >@Localizer["Edit"]</a>
                <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@Localizer["Delete"]</a>
                <a asp-controller="Products" asp-action="Detailes" asp-route-id="@item.Id" class="btn btn-secondary">@Localizer["Detailes"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
